# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.txt
cmake-build-release/.ninja_log
cmake-build-release/.ninja_deps
*.json
*.cmake
*.log
cmake-build-debug/.ninja_log
*.ninja
*.json
